<launch>
  <!-- 设置launch文件的参数 -->
  <arg name="world_name" value="$(find mbot_gazebo_smartcity)/worlds/smartcity.world"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- 运行gazebo仿真环境 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="rate" type="double" value="20.0" />
  </node>

  <!-- 运行robot_state_publisher节点，发布tf  -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="publish_frequency" type="double" value="20.0" />
  </node>

  <!-- 加载机器人模型参数  -->
  <arg name="model" default="$(find xacro)/xacro --inorder '$(find mbot_gazebo_smartcity)/urdf/xacro/mbot_gazebo_smartcity.xacro'" />
    <param name="robot_description" command="$(arg model)" />
    
  <!-- gazebo加载模型  (1号停车位)x -2.525  y 0.95   yew -1.57 -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-unpause -urdf -param robot_description -model mbot -x -2.525 -y 0.95 -z 0 -R 0 -P 0 -Y -1.57"/> 

  <!-- 运行rviz可视化界面 -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mbot_gazebo_smartcity)/rviz/mbot.rviz"/> -->

</launch>
