[Desktop Entry]
Version=1.0
Type=Application
Name=自动驾驶
Comment=
Exec=/home/zonesion/catkin_ws/src/gazebo_smartcity/aicar/bin/xcar-gazebo.sh
Icon=/home/zonesion/catkin_ws/src/aicar/bin/auto.ico
Path=
Terminal=true
StartupNotify=false
Name[zh_CN]=自动驾驶-gazebo
